{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "func-names": ["error", "never"],
    "linebreak-style": 0,
    "quotes": 0,
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "global-require": 0,
    "react/prop-types": "off",
    "arrow-body-style": "off",
    "no-shadow": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": "off",
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-one-expression-per-line": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "object-curly-newline": "off"
  }
}
