@import "../../styles/variables.scss";

.btn {
  display: inline-block;
  vertical-align: top;
  border: 1px solid $link-color;
  background: $link-color;
  color: $text-color;
  min-width: 150px;
  font-size: 18px;
  line-height: 1.1;
  padding: 20px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: background 0.5s, color 0.5s;
  text-decoration: none;

  &:hover {
    background: darken($link-color, 10%);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }

  &.btn-outline {
    background: transparent;
    color: $link-color;

    &:hover {
      background: $link-color;
      color: $text-color;
    }
  }

  &.btn-success {
    background: rgba($white, 0.1);
    color: $link-color;
    border: none;
    padding: 15px 20px;
    font-size: 20px;

    &:hover {
      background: rgba($white, 0.3);
    }
  }
}

