@import "../../css/variables.scss";

.hero {
  position: relative;
  min-height: 400px;
  padding: 120px 0 0;
  border-bottom: 8px solid $bg-color-light;
}

.hero-image {
  filter: blur(3px);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before {
    content:"";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
  }
}

.search-form {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 80%;
  margin: 0 auto;

  input {
    width: 100%;
  }

  .btn {
    width: 200px;
    margin: 0 0 0 15px;
  }
}