@import "../../css/variables.scss";

.top-panel {
  padding: 20px 0;
  margin: 0 0 15px;
  border-bottom: 2px solid $bg-color-light;
  display: flex;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    border-bottom: 2px solid #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
  }
}

.filter-title {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
}