@import "../../styles/variables.scss";

.movies-list {
  display: flex;
  flex-wrap: wrap;
  color: $text-color-primary;

  .movie-box {
    width: 33.33%;
  }
}

.movies-container {
  text-align: center;
  padding: 20px;
}