@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    background: $bg-color;
    color: $text-color;
    margin: 0;
    font: 16px/1.1 Arial, Helvetica, sans-serif;
}

a {
    color: $link-color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

select {
    -webkit-appearance: none;
}

.container {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

input {
    display: block;
    background: $bg-color-light;
    color: $text-color;
    border: none;
    min-height: 60px;
    font-size: 18px;
    line-height: 1.1;
    padding: 10px 15px;
    border-radius: 10px;

    &[type="submit"] {
        cursor: pointer;
    }
}

.btn {
    display: inline-block;
    vertical-align: top;
    background: $link-color;
    color: $text-color;
    border: none;
    min-height: 60px;
    font-size: 18px;
    line-height: 1.1;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;

    &:hover {
        background: darken($link-color, 10%);
    }
}