@import "./variables.scss";

body {
    background: $bg-color;
    color: $text-color;
    margin: 0;
}

a {
    color: $link-color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}