.single-post {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
        color: cornflowerblue;
    }

    .logo {
        display: inline-block;
        vertical-align: top;
        width: 212px;
        height: 150px;
    }
}