@import "../../styles/variables.scss";

.footer {
  text-align: center;
  padding: 15px 0;
  background: $bg-color-light;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
